canvas#world{
    background-color: #000000;
    z-index:-1;
    border: 2px #000000 solid;
    /*opacity: 0.5;*/
}
#panel{
    position: absolute;
    z-index:9999;
    border: 1px #000000 solid;
}
#seeMore {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #999999;
    width: 812px;
    text-align: right;
    z-index:9999;
}
#seeMore a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: italic;
    text-decoration: none;
    color: #999999;
    float: right;
}
#seeMore a:hover {
    color: #ffffff;
}