#content{
    margin: 0 auto;
    width:800px;
    padding: 0px;
    /*margin-top:40px;*/
}
#mapdiv{
    width: 800px;
    height: 800px;
    border: 2px solid #000000;
}
#button{
    position: absolute;
    top:200px;
}